/*
  Easyui Of Insdep Theme 2.x 扩展面板
  https://www.insdep.com/
*/

.chart_standard_panel{ width: 100%; height: auto; overflow:auto; clear: both; position: relative; background:#fff;}

.chart_standard_panel .panel_chart_layout{ width: 100%; height:150px; }
.chart_standard_panel .panel_chart_data,.chart_standard_panel .panel_chart_data ul{ width: auto; height: auto; clear: both; overflow: inherit;}
.chart_standard_panel .panel_chart_data ul{ border-top:1px solid #e8e8e8; margin:10px 0 0; padding: 10px;}
.chart_standard_panel .panel_chart_data ul li{ float:left; width:calc(20% - 1px);text-align: center; margin:10px 0; border-left:1px solid #e8e8e8;  }
.chart_standard_panel .panel_chart_data ul li:first-child{border-left:0 none;}
.chart_standard_panel .panel_chart_data ul li span{ color: #9b9b9b; display:block; margin: 0 0 5px;}
.chart_standard_panel .panel_chart_data ul li b{ font-size:16px; }
