/*
  Easyui Of Insdep Theme 2.x 扩展面板
  https://www.insdep.com/
*/
.clear{ clear:both} 
.weather_standard_panel,.weather_standard_panel .message_standard_operation{width:auto; height:auto; clear: both;}
.weather_standard_panel{ 
	background:#fff; border-radius:3px; border-width: 1px;border-style: solid;border-color: #c5c5c5 #c4c4c4 #b6b6b6 #c4c4c4;
}
.weather_standard_panel .message_standard_content{padding:15px; }
.weather_standard_panel .message_standard_content dl{ margin:0 0 10px; }
.weather_standard_panel .message_standard_content dl dt{ font-weight: bold; }
.weather_standard_panel .message_standard_content dl dd{ color: #8e8e8e; }

.weather_standard_panel .message_standard_operation{ border-top:1px solid #e6e6e6; background: #fbfbfb; overflow:auto; padding:0 5px; }
.weather_standard_panel .message_standard_operation .left{ float: left; }
.weather_standard_panel .message_standard_operation .right{ float: right; }
.weather_standard_panel .message_standard_operation .l-btn{background:transparent; border:0 none;}
.weather_standard_panel .message_standard_operation .l-btn .l-btn-text{ color: #717171; height:22px; line-height: 22px;}
.weather_standard_panel .message_standard_operation .l-btn .l-btn-text .iconfont{ margin:0; line-height: 16px;}
.weather_standard_panel .message_standard_operation .l-btn .m-btn-downarrow,.weather_standard_panel .message_standard_operation .l-btn .s-btn-downarrow {
    background: url(images/menu_arrows.png) no-repeat 0 center;
}
